*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}
body{
    background: radial-gradient(circle, rgba(63,94,251,0.8) 0%, rgba(150,100,107,0.8) 100%);
}
nav{
    background-color: rgba(160,94,251,0.5);
    border-radius: 25px;
    margin: 5px;
    height: 80px;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 3px 0px;
    margin-right: 10px;
}
li a:hover{    
    color: black;
    transition: 0.5s;
}
.checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .logo{
        height: 30px;
    }
}
@media (max-width:858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: auto;
        background-color: rgba(160,94,251,0.3);
        border-radius: 25px;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 5px 10px;
    }
    #check:checked ~ ul{
        left: 25%;
    }
}